:root{
    --bg-main: #1e3d37;
    --bg-btn: #ecc785;
    --white: #ffffff;
    --black: #000000;
    --gray: #616c77;
}

header{
    position: sticky;
    top: 0;
    background: var(--bg-main);
    font-size: 16px;
    z-index: 99999999;
}
header .logo img{
    width: 140px;
    height: 100px;
    object-fit: cover;
}
header .search form {
    position: relative;
}
header .search form input[type=search]{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 15px;
    padding-right: 100px;
}
header .search form button{
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translate(-90%,0%); */
    height: 40px;
    border: none;
    background: var(--bg-btn);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--white);
}
header .nav-product ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
}
header .nav-product ul li a{
    color: var(--white);
}
header .nav-product ul li a:hover{
    text-decoration: underline;
}

header .group-user{
    display: flex;
    color: var(--white);
}
header .group-user .user{
    font-size: 2.2em;
    margin-right: 7px;
}
header .group-user .search-mobile{
    display: none;
    font-size: 2.2em;
    margin-right: 0.2em;
}
header .group-user .group-item .sign-in{
    font-size: 0.9em;
}
header .group-user .group-item .sign-in a{
    color: var(--white);
}
header .group-user .group-item .name{
    font-size: 1em;
}
header .cart{
    display: flex;
    color: var(--white);
    align-items: center;
    cursor: pointer;
}
header .cart .create-cart{
    position: relative;
    font-size: 2.2em;
    margin-right: 7px;
}
header .cart .create-cart::after{
    content: attr(--i);
    position: absolute;
    top: 0;
    right: 0;
    background: var(--bg-btn);
    font-size: .5em;
    width: 20px;
    height: 20px;
    transform: translateX(20%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .cart .note{
    font-size: 0.8em;
}

header .nav-bar{
    font-size: 20px;
}
header .list-product{
    font-weight: 600;
    cursor: pointer;
}
header .list-product i{
    font-size: 1.9em;
    padding: 0;
    margin: 0;
}
header .navbar{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
header .navbar .navbar-nav{
    font-weight: 550;
}
header .header-top .menu-bar{
    display: none;
}



@media (max-width: 1199px) {
    header .header-top .col-lg-7 {
        flex: 0 0 auto;
        width: 50.33333%;
    }
    header .header-top .col-lg-2 {
        flex: 0 0 auto;
        width: 19.66667%;
    }
    header .header-top .col-lg-1 {
        flex: 0 0 auto;
        width: 10.33333%;
    }
    .nav-bar .header-bottom .col-lg-3{
        flex: 0 0 auto;
        width: 100%;
    }
    .nav-bar .header-bottom .col-lg-9{
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (max-width: 991.98px){
    header .group-user{
        justify-content: center;
    }
    header .group-user .group-item{
        display: none;
    }
    header .cart .note{
        display: none;
    }
    header .header-top .col-lg-7 {
        width: 59.33333%;
        margin-left: 20px;
    }
    header .header-top .col-lg-2:nth-child(n+1){
        width: 8.66667%;
    }
    header .header-top .col-lg-2:nth-child(1) {
        width: 21.66667%;
    }
    header .header-top .col-lg-1 {
        width: 7.33333%;
    }
    header .nav-bar{
        display: none;
    }
    header .header-top .menu-bar{
        display: block;
        font-size: 2em;
        color: var(--white);
        width: 33.33%;
        float: left;
    }

    header .header-bottom .navbar{
        padding: 10px;
        padding-left: 30px;
    }
    .header-bottom .list-product{
        background: var(--bg-main);
        color: var(--white);
    }
}
@media (max-width: 768px) {
    header .header-top {
        justify-content: space-between!important;
    }
    header .header-top .search {
        display: none;
    }
    header .header-top .col-lg-7 {
        width: 0%;
    }
    header .header-top .col-lg-2:nth-child(1){
        justify-content: space-between;
        width: 60.66%;
    }
    /* header .header-top .col-lg-2:nth-child(n+1) {
        width: 16.66%;
    }
    header .header-top .col-lg-1 {
        width: 16.66%;
    } */
}
header .nav-bar.active{
    display: block!important;
    position: fixed!important;
    width: 500px;
    height: 100vh;
    top: 0;
    left: 0;
}
@media (max-width: 576px){
    header .header-top {
        padding-right: 10px;
    }
    .header-top .group-user .search-mobile{
        display: block;
    }
    header .header-top .col-lg-2:nth-child(1){
        width: 69.66%;
    }
    header .nav-bar.active{
        width: 300px;
    }
}

/*Footer start*/

footer{
    font-size: 20px;
    padding: 30px 0;
}
footer h3{
    font-family: inherit;
}

footer .footer-top img{
    width: 130px;
    height: 130px;
    object-fit: cover;
}

footer .footer-top .f-item{
    font-size: 0.9em;
    display: flex;
}
footer .footer-top .f-item i{
    font-size: 1.2em;
    line-height: 1.25;
}
footer .footer-top .f-item span{
    padding-left: 10px;
    color: var(--gray);
}
footer .footer-top .footer-title{
    font-size: 1.2em;
    margin-bottom: 30px;
}
footer .footer-top .footer-content ul{
    padding: 0;
    list-style: inside;
}
footer .footer-top .footer-content ul li.item{
    padding: 7px 0;
}
footer .footer-top .footer-content ul li.item a{

    color: var(--gray);
    font-size: 0.9em;
    font-weight: 400;
}
footer .footer-top .footer-content .newsletter-form p{
    font-size: .9em;
}
footer .footer-top .footer-content .newsletter-form form{
    position: relative;
}
footer .footer-top .footer-content .newsletter-form input[type=text]{
    width: 100%;
    outline: none;
    border: none;
    font-size: .9em;
    padding-right: 40px;
}
footer .footer-top .footer-content .newsletter-form button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 1.2em;
}
footer .footer-top .footer-content .newsletter-form .line-under{
    width: 100%;
    height: 2px;
    background: var(--dark);
    margin: 10px 0;
}

/*Footer end*/

