:root{
    --bg-main: #1e3d37;
}

header{
    position: sticky;
    top: 0;
    background: var(--bg-main);
    z-index: 99999999;
}
header .logo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
header .search form {
    text-align: center;
}
header .search form input{
    width: 80%;
    
}