:root{
    --bg-main: #1e3d37;
    --bg-btn: #ecc785;
    --white: #ffffff;
    --black: #000000;
    --gray: #616c77;
    --red:#ef4030;
    --yellow: #ecc785;
}

.section-sm{
    margin-top: 50px;
    margin-bottom: 50px;
}
.section-ml{
    margin-top: 30px;
    margin-bottom: 30px;
}

header{
    position: sticky;
    top: 0;
    background: var(--bg-main);
    font-size: 16px;
    z-index: 99999999;
}
header .logo img{
    width: 140px;
    height: 100px;
    object-fit: cover;
}
header .search form {
    position: relative;
}
header .search form input[type=search]{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 15px;
    padding-right: 100px;
}
header .search form button{
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translate(-90%,0%); */
    height: 40px;
    border: none;
    background: var(--bg-btn);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--white);
}
header .nav-product ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
}
header .nav-product ul li a{
    color: var(--white);
}
header .nav-product ul li a:hover{
    text-decoration: underline;
}

header .group-user{
    display: flex;
    color: var(--white);
}
header .group-user .user{
    font-size: 2.2em;
    margin-right: 7px;
}
header .group-user .search-mobile{
    display: none;
    font-size: 2.2em;
    margin-right: 0.2em;
}
header .group-user .group-item .sign-in{
    font-size: 0.9em;
}
header .group-user .group-item .sign-in a{
    color: var(--white);
}
header .group-user .group-item .name{
    font-size: 1em;
}
header .cart{
    display: flex;
    color: var(--white);
    align-items: center;
    cursor: pointer;
}
header .cart .create-cart{
    position: relative;
    font-size: 2.2em;
    margin-right: 7px;
}
header .cart .create-cart::after{
    content: attr(--i);
    position: absolute;
    top: 0;
    right: 0;
    background: var(--bg-btn);
    font-size: .5em;
    width: 20px;
    height: 20px;
    transform: translateX(20%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .cart .note{
    font-size: 0.8em;
}

header .nav-bar{
    font-size: 20px;
}
header .list-product{
    font-weight: 600;
    cursor: pointer;
}
header .list-product i{
    font-size: 1.9em;
    padding: 0;
    margin: 0;
}
header .navbar{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
header .navbar .navbar-nav{
    font-weight: 550;
}
header .header-top .menu-bar{
    display: none;
}



@media (max-width: 1199px) {
    header .header-top .col-lg-7 {
        flex: 0 0 auto;
        width: 50.33333%;
    }
    header .header-top .col-lg-2 {
        flex: 0 0 auto;
        width: 19.66667%;
    }
    header .header-top .col-lg-1 {
        flex: 0 0 auto;
        width: 10.33333%;
    }
    .nav-bar .header-bottom .col-lg-3{
        flex: 0 0 auto;
        width: 100%;
    }
    .nav-bar .header-bottom .col-lg-9{
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (max-width: 991.98px){
    header .group-user{
        justify-content: center;
    }
    header .group-user .group-item{
        display: none;
    }
    header .cart .note{
        display: none;
    }
    header .header-top .col-lg-7 {
        width: 59.33333%;
        margin-left: 20px;
    }
    header .header-top .col-lg-2:nth-child(n+1){
        width: 8.66667%;
    }
    header .header-top .col-lg-2:nth-child(1) {
        width: 21.66667%;
    }
    header .header-top .col-lg-1 {
        width: 7.33333%;
    }
    header .nav-bar{
        display: none;
    }
    header .header-top .menu-bar{
        display: block;
        font-size: 2em;
        color: var(--white);
        width: 33.33%;
        float: left;
    }

    header .header-bottom .navbar{
        padding: 10px;
        padding-left: 30px;
    }
    .header-bottom .list-product{
        background: var(--bg-main);
        color: var(--white);
    }
}
@media (max-width: 768px) {
    header .header-top {
        justify-content: space-between!important;
    }
    header .header-top .search {
        display: none;
    }
    header .header-top .col-lg-7 {
        width: 0%;
    }
    header .header-top .col-lg-2:nth-child(1){
        justify-content: space-between;
        width: 60.66%;
    }
    /* header .header-top .col-lg-2:nth-child(n+1) {
        width: 16.66%;
    }
    header .header-top .col-lg-1 {
        width: 16.66%;
    } */
}
header .nav-bar.active{
    display: block!important;
    position: fixed!important;
    width: 500px;
    height: 100vh;
    top: 0;
    left: 0;
}
@media (max-width: 576px){
    header .header-top {
        padding-right: 10px;
    }
    .header-top .group-user .search-mobile{
        display: block;
    }
    header .header-top .col-lg-2:nth-child(1){
        width: 69.66%;
    }
    header .nav-bar.active{
        width: 300px;
    }
}

/*Footer start*/

footer{
    font-size: 20px;
    padding: 30px 0 0;
}
footer h3{
    font-family: inherit;
}

footer .footer-top img{
    width: 130px;
    height: 130px;
    object-fit: cover;
}

footer .footer-top .f-item{
    font-size: 0.9em;
    display: flex;
}
footer .footer-top .f-item i{
    font-size: 1.2em;
    line-height: 1.25;
}
footer .footer-top .f-item span{
    padding-left: 10px;
    color: var(--gray);
}
footer .footer-title{
    font-size: 1.2em;
    margin-bottom: 30px;
}
footer .footer-top .footer-content ul{
    padding: 0;
    list-style: inside;
}
footer .footer-top .footer-content ul li.item{
    padding: 7px 0;
}
footer .footer-top .footer-content ul li.item a{

    color: var(--gray);
    font-size: 0.9em;
    font-weight: 400;
}
footer .footer-top .footer-content .newsletter-form p{
    font-size: .9em;
}
footer .footer-top .footer-content .newsletter-form form{
    position: relative;
}
footer .footer-top .footer-content .newsletter-form input[type=text]{
    width: 100%;
    outline: none;
    border: none;
    font-size: .9em;
    padding-right: 40px;
}
footer .footer-top .footer-content .newsletter-form button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 1.2em;
}
footer .footer-top .footer-content .newsletter-form .line-under{
    width: 100%;
    height: 2px;
    background: var(--dark);
    margin: 10px 0;
}
footer .footer-top .footer-content .footer-social a{
    font-size: 1.8em;
    color: var(--black);
    transition: color .2s;
}
footer .footer-top .footer-content .footer-social a:hover{
    color: rgb(0, 0, 0, .7);
}

footer .footer-center .footer-content ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
footer .footer-center .footer-content ul li a{
    padding: 0 10px;
}
footer .footer-center .footer-content ul li a img{
    width: 52px;
    height: 37px;
}
.dt-auto{
    width: auto!important;
    height: auto!important;
}
footer .footer-bottom{
    background: var(--black);
}
footer .footer-bottom .footer-wp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    color: var(--white);
    font-size: .8em;
}
footer .footer-bottom .footer-wp p{
    margin: 0;
    padding: 0;
}
footer .footer-bottom .footer-wp a{
    color: var(--white);
}
/*Footer end*/
@media (max-width: 576px) {
    footer .footer-top .footer-content .footer-social{
        display: flex;
        justify-content: center;
    }
}
/*Banner start*/
#banner .carousel-inner .carousel-item img{
    height: 475px;
}
/*Banner end*/

/*Future start*/
.line-under{
    width: 100%;
    height: 1px;
    background: var(--black);
}
#future{
    box-shadow: 0 2px 10px #cdcdcd;
    padding: 0;
}
#future .future-title{
    padding: 15px;
}
#future .future-title h3{
    font-family: inherit;
}
#future .list-future ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
#future .list-future ul li:hover a{
    color: var(--bg-btn);
}
#future .list-future ul li a img{
    width: 85px;
    height: 85px;
    object-fit: cover;
}
#future .list-future ul li a{
    color: var(--black);
    transition: color .2s;
}
/*Future end*/

/*Flash sale start*/
#flash-sale {
    background: var(--bg-main);
    border-radius: 6px;
    font-size: 20px;
    padding: 0;
}
#flash-sale .flash-header .time-delay{
    display: flex;
    align-items: center;
}
#flash-sale .flash-header .title{
    font-size: 1.5em;
    color: var(--white);
    background: var(--red);
    padding: 5px 15px;
    letter-spacing: .2em;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
}
#flash-sale .flash-header .title i{
    animation: scaleZap .5s infinite alternate ease-in-out;
}
@keyframes scaleZap {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}
#flash-sale .flash-header .time-delay{
    padding: 0 15px;
}
#flash-sale .flash-header .show-all{
    float: right;
    margin-right: 20px;
}
#flash-sale .flash-header .show-all a{
    color: var(--black);
    background: var(--white);
    font-size: .9em;
    padding: 0px 10px;
    border-radius: 99px;
}
#flash-sale .flash-slider{
    padding: 20px 0 30px;
    border-top: 1px solid var(--white);
}
#flash-sale .flash-slider .splide{
    padding: 0 25px;
}
#flash-sale .flash-slider .splide__list .splide__slide{
    text-align: center;
    border: 1px solid var(--white);
    background: var(--white);

}
#flash-sale .flash-slider .splide__list .splide__slide .img{
    overflow: hidden;
}
#flash-sale .flash-slider .splide__list .splide__slide:hover  img{
    transform: scale(1.2);
    filter: grayscale(50%);
}
#flash-sale .flash-slider .splide__list .splide__slide img{
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    transition: transform .5s, filter .5s;
}
#flash-sale .flash-slider .splide__list .splide__slide .content{
    padding: 20px 0;
    color: var(--black);
    font-weight: 520;
    text-transform: uppercase;
}
#flash-sale .flash-slider .splide__list .splide__slide .content .rating{
    color: yellow;
}
@media (max-width: 820px) {
    #flash-sale .flash-header .show-all{
        float: none;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 414.99px) {
    #flash-sale .flash-header .title{
        font-size: .9em;
        padding: 20px;
    }
}
/*Flash sale end*/

/*Product start*/

.product{
    font-size: 20px;
    padding: 0;
    box-shadow: 0 3px 20px #cdcdcd;
    border-radius: 6px;
}
.product .product-header{
    display: flex;
    padding: 15px;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}
.btn-tablink{
    background: var(--white);
    color: var(--black);
    padding: 10px 15px;
    border-radius: 99px;
    font-size: .9em;
}
.btn-tablink.active{
    background: var(--bg-main);
    color: var(--white);
}
.product .product-header .nav-left{
    flex-shrink: 0;
    width: 33.33%;
    max-width: 33.33%;
    font-size: .9em;
}
.product .product-header .nav-left h3{
    font-family: inherit;
}
.product .product-header .nav-right{
    flex-shrink: 0;
    width: 66.67%;
    max-width: 66.67%;
}
.newsletter .newsletter-slider,
.product .product-slider{
    padding: 20px 0 40px;
    border-top: 1px solid var(--white);
}
.newsletter .newsletter-slider .splide,
.product .product-slider .splide{
    padding: 0 25px;
}
.product .product-slider .splide__list .splide__slide{
    text-align: center;
    border: 1px solid var(--white);
    background: var(--white);

}
.newsletter .newsletter-slider .splide__list .splide__slide .img,
.product .product-slider .splide__list .splide__slide .img{
    overflow: hidden;
    position: relative;
}
.product .product-slider .splide__list .splide__slide .gift{
    position: absolute;
    top: 3%;
    left: 5%;
    z-index: 999999;
    font-size: 2em;
    color: var(--red);
}
.product .product-slider .splide__list .splide__slide .sale{
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 999999;
    font-size: 1em;
    font-weight: 600;
    color: var(--black);
    background: var(--yellow);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.newsletter .newsletter-slider .splide__list .splide__slide:hover  img,
.product .product-slider .splide__list .splide__slide:hover  img{
    transform: scale(1.2);
    filter: grayscale(50%);
}
.newsletter .newsletter-slider .splide__list .splide__slide img,
.product .product-slider .splide__list .splide__slide img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    transition: transform .5s, filter .5s;
}
.product .product-slider .splide__list .splide__slide .content{
    padding: 20px 0;
    color: var(--black);
    font-weight: 520;
    text-transform: uppercase;
}
.product .product-slider .splide__list .splide__slide .content .rating{
    color: var(--yellow);
}
.product .product-slider .splide__list .splide__slide .content .box-prices{
    font-size: .9em;
}
.product .product-slider .splide__list .splide__slide .content .add-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    margin-top: 15px;
    text-transform: capitalize;
    color: var(--black);
    position: relative;
}
.product .product-slider .splide__list .splide__slide .content .add-cart a{
    background: var(--bg-main);
    border-radius: 99px;
    padding: 10px 55px;
    color: var(--white);
}
.product .product-slider .splide__list .splide__slide .content .add-cart a span{
    display: block;
    transform: translateX(-10px);
    transition: all .5s;
}
.product .product-slider .splide__list .splide__slide .content .add-cart a:hover ~ .icon-cart{
    background: var(--bg-main);
    color: var(--white);
}
.product .product-slider .splide__list .splide__slide .content .add-cart a:hover span{
    transform: translateX(0px);
}
.product-slider .splide__list .splide__slide .content .add-cart .icon-cart{
    position: absolute;
    top: 0;
    right: 0;
    background: var(--white);
    width: 42px;
    height: 98%;
    transform: translate(-1%,1%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
/*Product end*/

/*parnet start*/
.partner{
    margin: 40px 0;
}
.partner img{
    width: 100%;
    height: 365px;
    max-height: 365px;
    object-fit: cover;
}
/*parnet end*/

/*Newsletter start*/
.newsletter {
    font-size: 20px;
    padding: 0;
    box-shadow: 0 3px 20px #cdcdcd;
    border-radius: 6px;
}
.newsletter .newsletter-slider .splide__list .splide__slide{
    border: 1px solid var(--bg-btn);
    background: var(--white);

}
.newsletter-slider .content{
    padding: 20px;
}
.newsletter-slider .content .title a{
    color: var(--black);
    word-spacing: .1em;
    font-weight: 600;
    font-size: 1.1em;
    text-transform: capitalize;
}
.newsletter-slider .content .owner{
    font-size: .85em;
    margin: 10px 0;
}
.newsletter-slider .content .note{
    font-size: 1em;
}
.newsletter-slider .content .note span{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
/*Newsletter end*/

/*Newspaper start*/
.newspaper{
    font-size: 20px;
    padding: 0;
    box-shadow: 0 3px 20px #cdcdcd;
    border-radius: 6px;
}
.newspaper .news-item{
    text-align: center;
    padding: 15px;
}
.newspaper .news-item .news-img img{
    width: 100%;
    height: 262px;
    object-fit: cover;
}
.newspaper .news-item .news-desc p.title{
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
}
.newspaper .news-item .news-desc p{
    font-size: .8em;
}

/*Newspaper end*/
@media (max-width: 768px){
    .product .product-header .nav-left{
        width: 89%;
        max-width: 89%;
    }
    .product .product-header .nav-right{
        width: max-content;
    }
    .product .product-header a{
        display: none;
    }
    .product .product-header a.menu-right{
        display: block!important;
    }
    .newspaper {
        width: 100%;
        overflow-x: auto;
    }
    .newspaper .row{
        flex-wrap: nowrap;
    }
}


/*------------------------------*/
/*------------LOGIN-------------*/
/*------------------------------*/
.login{
    width: 100%;
    height: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .cards{
    font-size: 20px;
    color: var(--black);
    max-width: 450px;
}
.login .cards .title{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.login .cards form input{
    width: 100%;
    height: 42px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #ccc;
    font-weight: 500;
    padding: 0 20px;
    font-size: .8em;
}
.login .cards form input:focus{
    border: 1px solid var(--white);
}
.login .cards form .group-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
}
.login .cards form .btn-tablink button{
    padding: 10px 30px;
    background: var(--bg-main);
    border: none;
    color: var(--white);
    transition: all .2s;
}
.login .cards form .btn-tablink button:hover{
    background: var(--bg-btn);
}
.login .cards form .func-orther{
    font-size: .8em;
}
.login .cards form .func-orther a{
    color: var(--black);
    transition: all .2s;
}
.login .cards form .func-orther a:hover{
    color: var(--bg-btn);
}
.login .cards form .func-orther span{
    color: var(--gray);
}